In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r'C:\Users\sobia\Downloads\pokemon.csv')

In [3]:
df.head()

,Unnamed: 0,image_url,Id,Names,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,0,https://img.pokemondb.net/sprites/sword-shield...,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,1,https://img.pokemondb.net/sprites/sword-shield...,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,2,https://img.pokemondb.net/sprites/sword-shield...,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,https://img.pokemondb.net/sprites/sword-shield...,3,Venusaur Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,https://img.pokemondb.net/sprites/sword-shield...,4,Charmander,Fire,NaN,309,39,52,43,60,50,65

In [4]:
df.shape

(1194, 13)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1194 entries, 0 to 1193
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  1194 non-null   int64
 1   image_url   1194 non-null   object
 2   Id          1194 non-null   int64
 3   Names       1194 non-null   object
 4   Type1       1194 non-null   object
 5   Type2       652 non-null    object
 6   Total       1194 non-null   int64
 7   HP          1194 non-null   int64
 8   Attack      1194 non-null   int64
 9   Defense     1194 non-null   int64
 10  Sp. Atk     1194 non-null   int64
 11  Sp. Def     1194 non-null   int64
 12  Speed       1194 non-null   int64
dtypes: int64(9), object(4)
memory usage: 121.4+ KB

In [6]:
df["Type2"]

0         Poison
1         Poison
2         Poison
3         Poison
4            NaN
          ...
1189    Fighting
1190      Dragon
1191      Dragon
1192      Dragon
1193     Psychic
Name: Type2, Length: 1194, dtype: object

In [8]:
df["Type2"].isnull().sum()

542

In [14]:
df["Type2"].isna().sum()

542

In [15]:
df[df['Type2'].isna()]`

,Unnamed: 0,image_url,Id,Names,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
4,4,https://img.pokemondb.net/sprites/sword-shield...,4,Charmander,Fire,NaN,309,39,52,43,60,50,65
5,5,https://img.pokemondb.net/sprites/sword-shield...,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80
9,9,https://img.pokemondb.net/sprites/sword-shield...,7,Squirtle,Water,NaN,314,44,48,65,50,64,43
10,10,https://img.pokemondb.net/sprites/sword-shield...,8,Wartortle,Water,NaN,405,59,63,80,65,80,58
11,11,https://img.pokemondb.net/sprites/sword-shield...,9,Blastoise,Water,NaN,530,79,83,100,85,105,78
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156,1156,https://img.pokemondb.net/sprites/scarlet-viol...,977,Dondozo,Water,NaN,530,150,100,115,65,65,35
1163,1163,https://img.pokemondb.net/sprites/scarlet-viol...,982,Dudunsparce Two-Segment Form,Normal,NaN,520,125,100,80,85,75,55
1164,1164,https://img.pokemondb.net/sprites/scarlet-viol...,982,Dudunsparce Three-Segment Form,Normal,NaN,520,125,100,80,85,75,55
1181,1181,https://img.pokemondb.net/sprites/scarlet-viol...,999,Gimmighoul Chest Form,Ghost,NaN,300,45,30,70,75,70,10
1182,1182,https://img.pokemondb.net/sprites/scarlet-viol...,999,Gimmighoul Roaming Form,Ghost,NaN,300,45,30,25,75,45,80

In [21]:
df

,Unnamed: 0,image_url,Id,Names,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
0,0,https://img.pokemondb.net/sprites/sword-shield...,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,1,https://img.pokemondb.net/sprites/sword-shield...,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,2,https://img.pokemondb.net/sprites/sword-shield...,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,3,https://img.pokemondb.net/sprites/sword-shield...,3,Venusaur Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,4,https://img.pokemondb.net/sprites/sword-shield...,4,Charmander,Fire,NaN,309,39,52,43,60,50,65
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1189,1189,https://img.pokemondb.net/sprites/scarlet-viol...,1006,Iron Valiant,Fairy,Fighting,590,74,130,90,120,60,116
1190,1190,https://img.pokemondb.net/sprites/scarlet-viol...,1007,Koraidon,Fighting,Dragon,670,100,135,115,85,100,135
1191,1191,https://img.pokemondb.net/sprites/scarlet-viol...,1008,Miraidon,Electric,Dragon,670,100,85,100,135,115,135
1192,1192,https://img.pokemondb.net/sprites/scarlet-viol...,1009,Walking Wake,Water,Dragon,590,99,83,91,125,83,109
1193,1193,https://img.pokemondb.net/sprites/scarlet-viol...,1010,Iron Leaves,Grass,Psychic,590,90,130,88,70,108,104

In [25]:
df.fillna('none', inplace=True)

SyntaxError: cannot assign to function call (439539823.py, line 1)

In [26]:
df['Speed']

0        45
1        60
2        80
3        80
4        65
       ...
1189    116
1190    135
1191    135
1192    109
1193    104
Name: Speed, Length: 1194, dtype: int64

In [35]:
df['Speed']

<bound method NDFrame._add_numeric_operations.<locals>.min of 0        45
1        60
2        80
3        80
4        65
       ...
1189    116
1190    135
1191    135
1192    109
1193    104
Name: Speed, Length: 1194, dtype: int64>

In [36]:
df.describe()

,Unnamed: 0,Id,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
count,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000,1194.000000
mean,596.500000,492.746231,441.206868,70.883585,80.948911,74.587102,72.881072,72.123953,69.782245
std,344.822418,293.719541,121.015326,26.861740,32.126164,30.678626,32.702411,27.628412,30.200828
min,0.000000,1.000000,175.000000,1.000000,5.000000,5.000000,10.000000,20.000000,5.000000
25%,298.250000,235.250000,330.000000,52.000000,56.000000,51.250000,50.000000,50.000000,45.000000
50%,596.500000,486.500000,460.500000,70.000000,80.000000,70.000000,65.000000,70.000000,67.500000
75%,894.750000,741.750000,520.000000,85.000000,100.000000,90.000000,95.000000,90.000000,90.750000
max,1193.000000,1010.000000,1125.000000,255.000000,190.000000,250.000000,194.000000,250.000000,200.000000

In [39]:
df[df['Speed']>=200]

,Unnamed: 0,image_url,Id,Names,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
1063,1063,https://img.pokemondb.net/sprites/sword-shield...,894,Regieleki,Electric,NaN,580,80,100,50,100,50,200

In [44]:
df['Speed'].describe()

count     True
mean     False
std      False
min      False
25%      False
50%      False
75%      False
max       True
Name: Speed, dtype: bool

In [45]:
df[df['Speed'] == max(df['Speed'])]

,Unnamed: 0,image_url,Id,Names,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
1063,1063,https://img.pokemondb.net/sprites/sword-shield...,894,Regieleki,Electric,NaN,580,80,100,50,100,50,200

In [46]:
df[df['Speed'] == min(df['Speed'])]

,Unnamed: 0,image_url,Id,Names,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
272,272,https://img.pokemondb.net/sprites/sword-shield...,213,Shuckle,Bug,Rock,505,20,10,230,10,230,5
546,546,https://img.pokemondb.net/sprites/sword-shield...,446,Munchlax,Normal,NaN,390,135,85,40,40,85,5
928,928,https://img.pokemondb.net/sprites/sword-shield...,771,Pyukumuku,Water,NaN,410,55,60,130,30,130,5

In [56]:
# attack max type electric
#df[df['Sp. Atk'] == max(df['Sp. Atk'])]
df['Type1'].unique()

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Dark', 'Poison',
       'Electric', 'Ground', 'Ice', 'Fairy', 'Steel', 'Fighting',
       'Psychic', 'Rock', 'Ghost', 'Dragon', 'Flying'], dtype=object)

In [67]:
df[df['Type1']=='Electric'].max()

C:\Users\sobia\AppData\Local\Temp\ipykernel_33644\2197937913.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df[df['Type1']=='Electric'].max()

Unnamed: 0                                                 1191
image_url     https://img.pokemondb.net/sprites/sword-shield...
Id                                                         1008
Names                                                   Zeraora
Type1                                                  Electric
Total                                                       670
HP                                                          109
Attack                                                      123
Defense                                                     115
Sp. Atk                                                     173
Sp. Def                                                     115
Speed                                                       200
dtype: object

In [71]:
new_df=df[df['Type1']=='Electric']

In [74]:
new_df

,Unnamed: 0,image_url,Id,Names,Type1,Type2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed
32,32,https://img.pokemondb.net/sprites/sword-shield...,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90
33,33,https://img.pokemondb.net/sprites/sword-shield...,25,Pikachu Partner Pikachu,Electric,NaN,430,45,80,50,75,60,120
34,34,https://img.pokemondb.net/sprites/sword-shield...,26,Raichu,Electric,NaN,485,60,90,55,90,80,110
35,35,https://img.pokemondb.net/sprites/sword-shield...,26,Raichu Alolan Raichu,Electric,Psychic,485,60,85,50,95,85,110
110,110,https://img.pokemondb.net/sprites/sword-shield...,81,Magnemite,Electric,Steel,325,25,35,70,95,55,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1117,1117,https://img.pokemondb.net/sprites/scarlet-viol...,939,Bellibolt,Electric,NaN,495,109,64,91,103,83,45
1118,1118,https://img.pokemondb.net/sprites/scarlet-viol...,940,Wattrel,Electric,Flying,280,40,40,35,55,40,70
1119,1119,https://img.pokemondb.net/sprites/scarlet-viol...,941,Kilowattrel,Electric,Flying,490,70,70,60,105,60,125
1171,1171,https://img.pokemondb.net/sprites/scarlet-viol...,989,Sandy Shocks,Electric,Ground,570,85,81,97,121,85,101
1191,1191,https://img.pokemondb.net/sprites/scarlet-viol...,1008,Miraidon,Electric,Dragon,670,100,85,100,135,115,135

In [75]:
new_df['Sp. Atk'].max()

173

In [76]:
new_df['Attack'].max()

123

In [ ]:
# type is electric and find max value of attack
# two types  of sort in numeric acc and decending
# sort the catagorical data using dictionary